<footer class="page-footer blue-grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="blue-grey-text text-lighten-4">Who Am I?</h5>
                <p class="blue-grey-text text-lighten-3">I am an IT professional specialising in enterprise and full
                    stack software
                    development. This blog is about various stuff I learn, observe and try out.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="blue-grey-text text-lighten-4">Links</h5>
                <ul>
                    <li><a class="blue-grey-text text-lighten-3" href="/">Home</a></li>
                    <li><a class="blue-grey-text text-lighten-3" href="/info.html">Information</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright blue-grey darken-2">
        <div class="container blue-grey-text text-lighten-5">© 2005-<noscript>2019</noscript><script type="text/javascript">document.write(new Date().getFullYear());</script> Usman Saleem. v8.0
            <a class="blue-grey-text text-lighten-5 right" href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>
        </div>
    </div>
</footer>
