<header class="page-header">
    <nav class="blue-grey darken-4">
        <div class="nav-wrapper">
            &nbsp;&nbsp;<a href="/" class="brand-logo blue-grey-text text-lighten-4">Usman Saleem</a>
                <ul id="nav-mobile" class="right">
                    <li><a href="/" class="grey-text blue-grey-text text-lighten-4"><i class="material-icons">home</i></a></li>
                    <li><a href="/info.html" class="grey-text blue-grey-text text-lighten-4"><i class="material-icons">info</i></a></li>
                </ul>
        </div>
    </nav>
</header>
